<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EJS Template</title>
</head>
<body>
    <h1>EJS</h1>

    <p>Este index está generado por el motor de plantillas EJS desde Views</p>

    <% data.forEach(function(person) { %>
        <ul>
            <li><%= person.name %></li>
        </ul>
    <% }) %>
</body>
</html>